 .external {
    display: table;
}
.middle {
    display: table-cell;
    vertical-align: middle;
}
.internal {
    width: max-content;
}
.text-9xl {
    font-size: 4.97rem;
}
.bg-gray-900 {
    background-color: rgba(37, 37, 37, 1);
}
.text-gray-900 {
    color: rgba(37, 37, 37, 1);
}
.bg-gray-600 {
    background-color: rgba(37, 37, 37, 0.6);
}
.text-gray-100 {
    color: rgba(224 224 224, 1);
}
.bg-gray-100 {
    background-color: rgba(228, 228, 228, 1);
}
.full-h {
    height: 100vh;
}
.border-gray-50 {
    border: 2px solid white;
}
.outline-none {
    outline: 0px transparent;
}
.train {
    display: block;
    max-width: 100%;
    top: 0px;
    opacity: 1;
    transition: all 0.9s ease-out;
    transition-delay: calc(var(--scroll) * -1s);
    /* transform: translate(50%, 100%); */
}
.gallery {
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(10, 80vw);
    grid-template-rows: 1fr;
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    overflow: scroll;
    height: 87vh;
    scroll-snap-type: both mandatory;
    scroll-padding: 1rem;
}
.active {
    scroll-snap-type: unset;
}
li {
    scroll-snap-align: center;
    display: inline-block;
}
.portfolioItem {
    background-repeat: no-repeat; 
    background-size: contain; 
    background-position: center; 
}
.profile {
    background-repeat: no-repeat; 
    background-size: cover; 
}
.circle {border-radius: 50%;}
.portfolio-item-text {
    height: 5.5rem;
    transition: 0.3s;
}
.portfolio-item-text:hover {
    height: 14rem;
}
.description {
    display: none;
    transition: 0.6s;
}
.portfolio-item-text:hover .description {
    display: block;
}
.text-white {
    color: white;
}
button[type="submit"] {
    outline: none;
}
/* 
.profileul {
    list-style: none;
    margin: 0;
}

.profle {
    float: left;
    width: 100px;
    line-height: 80px;
    vertical-align: middle;
    text-align: center;
    margin: 0;
} */


.navbar,
.navbar-collapse {
  flex-direction: column;
}

.navbar-nav {
    display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.navbar-nav li {
    flex: 1;
  width: 100%
}
.navbar-expand-lg .navbar-nav {
  flex-direction: column;
}